.line {
    fill: none;
    stroke: rgba(29, 161, 242, 0.2);
    stroke-width: 3px;
}

.line-sum {
    fill: none;
    stroke: #a6cee3;
    stroke-width: 3px;
}

.line-avg {
    fill: none;
    stroke: #e7298a;
    stroke-width: 3px;
}

.line-gab {
    fill: none;
    stroke: var(--selection-color);
    stroke-width: 3px;
}