.header {
    background-color: #1DA1F2;
    margin: 0!important;
}

.title {
    font-weight: 600;
    font-size: 2vw;
    color: white;
    padding: 0.2rem 0rem 0rem 1.5rem;
}

.logo {
    height: 1.8vw;
    width: auto;
    margin: 0.4rem 0rem 0rem 1rem;
}

.loading-text {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.lds-ring {
    display: inline-block;
    width: 100%;
    height: 120px;
    position:relative;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

#loader {
    background-color: #1DA1F2;
    width: 100%;
    height: 100%;
    transition: all 2s;
}

.loader-container {
    height:92%;
    display: grid;
}

.loading-div {
    margin:auto;
}

.h-10 {
    height: 6%
}

.h-60 {
    height: 60%
}

.h-40 {
    height: 40%
}

.h-70 {
    height: 70%
}

.h-30 {
    height: 30%
}

.h-95 {
    height: 95%
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.mds-button {
    background-color:#1DA1F2!important;
}

.mds-button:hover{
    background-color:rgba(29, 161, 242, 0.5)!important;
}

@media all and (max-width:30em){
    mds-button{
        display:block;
        margin:0.2em auto;
    }
}

.button3{
    position: relative;
    z-index: 1000;
    top:0px;
    left:80%;
    border: black;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    font-size: 0.65rem;
    border-radius:2em;
    color:#FFFFFF;
    background-color:#AAB8C2;
    text-align:center;
    transition: all 0.2s;
}